extends layout

block content 
  h2 Messages 
  each message in messages 
    div
      h4= message.title
      p= message.body
  else 
    if currentUser
      p No messages to show. #[a(href='/messages/create') Create] the first!
    else
      p No messages to show. #[a(href='/login') Sign in] to add the first!
