extends layout

block content 
  h2 Messages 
  each message in messages 
    div
      h4= message.title
      p= message.body
  else 
    p No messages to show. #[a(href='/login') Sign in] to add the first!
