extends layout

block content 
  h2 Messages 
  each message in messages 
    div
      h4= message.title
      p= message.body
      if currentUser && (currentUser.membership_status === 'Member' || currentUser.membership_status === 'Admin')
        div
          p= message.author.full_name
          p=message.date_formatted
  else 
    if currentUser
      p No messages to show. #[a(href='/messages/create') Create] the first!
    else
      p No messages to show. #[a(href='/login') Sign in] to add the first!
