doctype html
html
  head
    title Members Only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Members Only
      nav
        a(href='/login') Login
    block content
