doctype html
html
  head
    title Members Only
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header 
      h1: a(href="/") Members Only
      nav
        a(href="/signup") Sign up
        a(href="/login") Login

    main
      block content
